<header class="header">
    <div class="blue">
        <img src="../../assets/images/header-shepe-blue.png" alt="">
    </div>
    <div class="white">
        <img src="../../assets/images/header-shepe-white.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="logo">
                    <h2><a href="#">Anican</a></h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="menu">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header-text">
                    <h1>ANICAN</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br> nostrud exercitation</p>
                    <button>Read More</button>
                    <button>Explore</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="another-text">
                    <h3>Three Simple Steps</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt </p>
                </div>
            </div>
        </div>
    </div>
</header>